body{
    margin: 0%;
}
.header{
    height: 50px;
    width: 1000px;
    background-color: aqua;
    margin: 0 auto;
    /* margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto; */ 
    /* These above four lines can be simply written as margin: 0 auto; */
    
}
.logo{

    float: left;
    padding: 10px;
}
.selection ul li{
    float: right;
    list-style: none;
    padding: 10px;
}
.selection ul li a{
    text-decoration: none;
}
.selection ul li a:hover{
    color: rgb(255, 72, 0);
    
}
.img{
    height: 400px;
    width: 1000px;
    margin:0 auto;
}
.img img{
    width: 1000px;
    height: 400px;
    /* margin:0 auto; */
    padding-top: 10px;
    
}
.content{
max-width: 1000px;
background-color: burlywood;
margin: 0 auto;
}
.footer{
    height: 50px;
    text-align: center;
    width: 1000px;
    background-color: aqua;
    margin: 0 auto;
}
.form{
    padding-top: 20px;
    width: 1000px;
    margin: 0 auto;

}
.form h3{
    color: red;
}

.form p{
font-size: 30px;
}
.form input, textarea{
    width: 200px;
}
.form button{
    width: 100px;
    padding-top: 10px;
    color: cyan;
    background-color: darkorange;
}
.form button:hover{
    background-color: red;
    color: chartreuse;
    padding: 15px;
}
